@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
    font-family: Lato-Regular;
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}


/* 공통 */
.container {
    max-width: 980px;
}

/* 배경이미지 */
#home .bgimg {
    background: url(../assets/img/kagosima.webp) no-repeat 50% 50%/cover fixed;
    background-size: 105%;
}

#home .dark .bgimg {
    filter: brightness(50%);
    background: url(../assets/img/taxi.webp) no-repeat 50% 43%/cover fixed;
    background-size: 105%;
}

.parallax-bg {
    height: 400px;
    background: no-repeat 50% 50%/cover fixed;
}

#about .parallax-bg {
    background-image: url(/assets/img/taxi.webp);
    background-position: 50% 58%;
    background-size: 105%;
}

#work .parallax-bg {
    background-image: url(/assets/img/portfolio.jpg);
}

#contact .parallax-bg {
    background-image: url(/assets/img/kagosima.webp);
    background-position: 50% 95%;
    background-size: 105%;
}


/* 애니메이션 */
.circle_ani {
    top: 0;
    right: 0;
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}

/* 텍스트 그림자 */
#home.dark h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

/* 나의 사진 */
.myimg {
    width: 425px;
    height: 280px;
}