@charset "utf-8";

html, body, div, span, h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}