@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
/* 웹 폰트 방법I - CDN */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 웹폰트 방법II - @font-face -> CDN 지원x*/
/* @f */
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    src: url(./../assets/font/Lato-Regular.ttf);
}
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    /* URL: 프로토콜:// */
    src: url(https://r2gul4r.github.io/jfs/assets/font/Lato-Thin.ttf);

}

/* reset(초기화) */
* {box-sizing: border-box;}
:root {
    /* 박스내에서 부드럽게 */
    scroll-behavior: smooth;
}
body, h1, h2, h3, p, ul {
    margin: 0;
}
ul {padding: 0; list-style: none;}


/* typo */
:root {
    font-size: 10px;
}
body {
    /* 
        단위: rem은 :root에서 지정한 크기의 배수
        예) 10px * 1.5배 -> 15px
    */
    font: 15px/1.6 "Lato", sans-serif;    
}
h2 {
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
    /* 글자사이 간격: 자간 */
    letter-spacing: 1rem; /* ls */
    background: #404040;
    /* 일반적으로 좌우 패딩을 상하보다 많이 준다. */
    padding: 8px 24px 10px 30px;
    /* text-transform: uppercase; */ /* 모두 대문자 [tt] */
}   
footer a, footer p {
    color: #fff;
}
footer .top-btn a {
    color: #333;
}
footer .sns {
    margin: 24px;
}
footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}

/* common */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
}


#home {
    height: 100vh;
    background: url(../assets/img/jules-marvin-eguilos-xLNl6CWIJng-unsplash.jpg) no-repeat 50% 50%/cover;  
} 

/* footer area */
footer {
    background: #555;
    /* 푸터 안의 인라인 요소는 모두 가운데로(배치) */
    text-align: center;
    padding: 100px;
}
footer:hover {
    background: #111;
}
footer .top-btn {
    display: inline-block; /* dib */
    background: #ddd;
    padding: 8px 16px;
}
footer .top-btn i {
    margin-top: 8px;
}