@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
    font-family: Lato-Regular;
    src: url(assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}
.ls10px {
    letter-spacing: 0,625rem;
}

/* 공통 */
.container {
    max-width: 980px;
}

/* 배경이미지 */
#home .bgimg {
    background: url(../assets/img/kagosima.webp) no-repeat 50% 50%/cover fixed;
    background-size: 105%;
}

#home .dark .bgimg {
    filter: brightness(50%);
    background-image: url(../assets/img/taxi.webp);
    background-size: 105%;
}

.parallax-bg {
    height: 400px;
    background: no-repeat 50% 50%/cover fixed;
}

#about .parallax-bg {
    background-image: url(../assets/img/taxi.webp);
    background-position: 50% 58%;
    background-size: 105%;
}

#work .parallax-bg {
    background-image: url(../assets/img/portfolio.jpg);
}

#contact .parallax-bg {
    background-image: url(../assets/img/kagosima.webp);
    background-position: 50% 95%;
    background-size: 105%;
}


/* 애니메이션 */
.circle_ani {
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}
/* 헤더 배경색 지정 */
#header {
    background: transparent;
    transition: background 0.3s;
}
#header a {
    color: #eee;
}
#header a:hover {
    color: #FFF;
}

#header.active {
    background: #FFF;
    /* 헤더 박자 그림자 */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#header.active a {
    color: #222;
}
#header.active a:hover {
    color: #111;
}
/* 텍스트 그림자 */
#home.dark h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

/* 카운터 - 워크섹션 떨어짐 */
#counter {
    transform: translateY(56px);
}

#about::before, #work::before, #contact::before {
    display: block;
    content: '';
    height: 56px;
}

/* 나의 사진 */
.myimg {
    width: 425px;
    height: 280px;
}

/* 진행률 바(progress-bar) */
.progress {
    height: 35px;
}
.progress:first-of-type .progress-bar {
    width: 85%;
}
.progress:last-of-type .progress-bar {
    width: 95%;
}

/* 맵 */
.map {
    height: 160px;
}

/* 폼(양식) */
input {
    height: 45px;
}
#name, #email {
    width: calc(50% - 8px);
}
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
#btnForm {
    width: 28%;
}