@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
/* 웹 폰트 방법I - CDN */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 웹폰트 방법II - @font-face -> CDN 지원x*/
/* @f */
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    src: url(./../assets/font/Lato-Regular.ttf);
}

@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    /* URL: 프로토콜:// */
    src: url(https://r2gul4r.github.io/jfs/assets/font/Lato-Thin.ttf);
}

/* reset(초기화) */
* {box-sizing: border-box;}
:root {
    /* 박스내에서 부드럽게 */
    scroll-behavior: smooth;
}
body, h1, h2, h3, p, ul {
    margin: 0;
}
ul {padding: 0; list-style: none;}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* vertical-align: top; */
}
a {
    text-decoration: none;
}
iframe {
    width: 100%;
    height: 100%;
}
button {
    border: none;
    cursor: pointer;
}
button:hover {

    background: #ccc;
}
/* typo */
:root {
    font-size: 10px;
}
body {
    /* 
        단위: rem은 :root에서 지정한 크기의 배수
        예) 10px * 1.5배 -> 15px
    */
    font: 15px/1.6 "Lato", sans-serif;    
    color: #777;
}
h2 {
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
    /* 글자사이 간격: 자간 */
    letter-spacing: 1rem; /* ls */
    text-transform: uppercase; /* tt */
}
h3 {
    font-size: 2.4rem;
}
header a {
    color: #ddd;
}
footer a, footer p {
    color: #fff;
}
footer .top-btn a {
    color: #333;
}
footer .sns {
    margin: 24px;
}
footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}
#contact h2 {
    font-size: 3.6rem;
}
#contact a {
    color: #777;
}
#contact button {
    color: #fff;
}
#contact .addr {
    font-size: 1.8rem;
}
textarea {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
}
::placeholder {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #ccc;
}

/* common */

h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0  5px darkblue;
}
h3 {
    text-align: center;
    margin: 64px 0 10px;
}
h3+p {
    text-align: center;
}

/* header area */
header {
    z-index: 99999;
    position: fixed; /* pof */
}
header .gnb ul {
    display: flex;
}
header .gnb li a {
    display: inline-block;
    padding: 8px 16px;
}
header .gnb li a:hover {
    background: #333;
}
header .gnb li i {
    margin-right: 8px;
}

/* footer area */
footer {
    background: #555;
    /* 푸터 안의 인라인 요소는 모두 가운데로(배치) */
    text-align: center;
    padding: 100px;
}
footer:hover {
    background: #111;
}
footer .top-btn {
    display: inline-block; /* dib */
    background: #ddd;
    padding: 8px 16px;
}
footer .top-btn i {
    margin-top: 8px;
}


/* section area: index.html */
#home {
    position: relative;
    overflow: hidden;
    
} 
#home .bgimg {
    height: 100vh;
    background: url(../assets/img/kagosima.webp) no-repeat 50% 50%/cover fixed;
    background-size: 105%;
}
#home .dark .bgimg {
    filter: brightness(50%);
    background: url(../assets/img/taxi.webp) no-repeat 50% 43%/cover fixed;
    background-size: 105%;
}
#home.dark h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}
#home h2 {
    /* background: #444; */
    /* 일반적으로 좌우 패딩을 상하보다 많이 준다. */
    padding: 8px 24px 10px 30px;
}
.circle_ani {
    position: absolute;
    right: 0;
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}

/* about section area */
#about .parallax-bg {
    background-image: url(/assets/img/taxi.webp);
    background-position: 50% 58%;
    background-size: 105%;
}

#about .basic p {
    text-align: left;
}
#about .basic strong {
    text-decoration: underline 2px wavy rgba(255,0,0,0.5);
}
#about .basic b {
    display: inline-block;
    padding-bottom: 36px;
}
#about .basic img {
    height: 280px;
    border-radius: 5px;
    filter: opacity(50%);
}
#about .basic img:hover {
    filter: none; 
}
#about .basic .inner {
    display: flex;
    gap: 48px;
    margin:48px 0 130px;
}
#about .basic .inner div {
    flex: 50%;
}
#about .basic .inner p {
    flex: 50%;
}

/* skill area */
#about .skill > p {
    margin-bottom: 36px;
    font-size: 1.8rem;
}
#about .skill .inner p {
    text-align: left; /* ta */
    letter-spacing: 1rem;
    margin: 12px 0;
}
#about .progressbar {
    background: #F1F1F1;
    color: #fff;
}
#about .progressbar div {
    /* 한 줄 텍스트의 경우 height와 line-height가 같으면 수직 중앙 배치된다. */
    /* height: 35px;
    line-height: 35px; */
    padding: 6px;
    background: #616161;
}
#about .progressbar:nth-of-type(1) div {
        width: 85%;
}
#about .progressbar:nth-of-type(2) div {
        width: 95%;
}

/* count ara */
#about .count ul {
    display: flex;
    text-align: center;
    background: #616161;
    color: #fff;
    padding: 36px 0;
}
#about .count ul li {
    /* flex: [grow|shrink|basis]; */
    flex: 25%;
}
#about .count span {
    display: block;
    font-size: 2.4rem;
}

/* work + contact sction common area */
.parallax-bg {
    position: relative;
    height: 400px;
    background: no-repeat 50% 50%/cover fixed;
}
.container {
    width: 900px;
    margin: 48px auto 96px;
    text-align: center;
}
button {
    background: #f1f1f1;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 5px;

}


/* work section area: work.html */
#work .parallax-bg {
    background-image: url(/assets/img/portfolio.jpg);
}
#work .portfolio {
    display: flex;
    gap: 16px;
}

#work .portfolio li {
    width: 213px;
    height: 162px;
}
#shadow {
    margin: 64px 0 0;
    width: 200px;
    height: 50px;
    background: inherit;
    color: #000;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: all 200ms ease-out;
}

#shadow:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
    
/* section area: contact.html */
#contact .parallax-bg {
    background-image: url(/assets/img/kagosima.webp);
    background-position: 50% 95%;
    background-size: 105%;
}

#contact .container {
    display: flex;
    justify-content: space-between;
}
#contact .map {
    width: 280px;
    height: 160px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 32px;
}
#contact .contact {
    width: 600px;
}
#contact .contact p {
    margin: 24px 0 16px;
}
#contact .frm-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#contact input {
    width: 100%;
    height: 45px;
    padding-left: 16px;
}
#contact textarea {
    width: 100%;
    resize: none;
    height: 150px;
    margin-top: 10px;
    padding-top: 16px;
    padding-left: 16px;
}
#contact button {
    background: #111;
}
#contact i {
    margin-right: 8px;
}
#contact .addr i {
    margin-right: 16px;
}
#contact .frm-btn {
    text-align: right;
}