@charset "utf-8"; /* @ch */

/* reset(초기화) */
* {
    box-sizing: border-box; /* bx */
}
body,h1,h2,h3,p,ul {
    margin:0;
}

img {
    width: 100%;
    vertical-align: top; /* vat */
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul {
   list-style: none; 
   padding: 0; /* p0 */
}
a {
    text-decoration: none;
    color: #333;
}
button {
    border: none;
    background: transparent;
}
input {
    border: none;
}