@charset "utf-8";

/* inquiry: 문의 */
footer .inquiry {
    /* 콘텐츠 높이: 110px */
    height: 426px;
    padding-top: 120px;
    /* 배경 이미지 높이: 196px */
    background: #fff url(../assets/img/footer_img.png) no-repeat 0 100%;
}
footer .inquiry .inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: auto; /* m:a */
}
footer .inquiry .con-area {
    display: flex;
    justify-content: space-between;
    width: 960px;
}

/* faq: 자주 묻는 질문 */
footer .inquiry .faq-btn {
    background: #54A922;
    /* padding: 35px 48px; */
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0px;
    margin-right: 12px;
}
footer .inquiry .faq-btn span {
    /* background: 색 url() 반복 x위치 y위치/크기; */
    background: url(../assets/img/icon_main_inquiry_01.png) no-repeat 0/contain;
    padding-left: 67px;
}
/* consolt: 1:1 문의 */
footer .inquiry .consult-btn {
    background: #7b7b7b;
    /* padding: 35px 72px; */
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 35px 0px;
}
footer .inquiry .consult-btn span {
    background: url(../assets/img/icon_main_inquiry_02.png) no-repeat;
    background-size: contain;
    padding-left: 57px;
}

/* info: 정보 */
footer .info {
    background: #222 url(../assets/img/logo.png) no-repeat 80px 70px;
    /* 기본값은 background-origin: padding-box; */
    /* background-origin: content-box; */
    padding: 50px 250px;
}

footer .info .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    /* margin-left: 250px; */
}

footer .util-box {
    display: flex;
}
footer .left-info ul {
    display: flex;
}

footer .sns li:nth-of-type(1) img, footer .sns li:nth-of-type(2) img {
    width: 29px;
    height: 20px;
}
footer .sns li:nth-of-type(3) img {
    width: 23px;
    height: 24px;
}
footer .sns li:nth-of-type(4) img {
    width: 28px;
    height: 25px;
}
